<div class="author-card">
    <div class="author-card-img">
        <img [src]="imageLink" alt="Author-Image">
    </div>
    <div class="author-card-name">
        {{author.name}}
    </div>
    <div class="author-card-desc">
        {{ author.bio | trim:100 }}
    </div>
    <div class="author-card-buttons">
        <button (click) = "sendAuthor()" id="read-more"> Read More </button>
        <button [routerLink] = "['/quotesbyauthor']" [queryParams] = "{ author: author.slug }" id="show-quotes">Show Quotes</button>
    </div>  
</div>
