<app-header></app-header>
<div class="staticpage">
  <div class="col-1">
    <h1>Unlock Premium Quotes with Your Free Trial!</h1>
    <p>Welcome to QuotesApp, your gateway to wisdom from the world's greatest minds! Start your journey towards
      enlightenment with our free trial. Experience a taste of our vast collection of quotes from famous personalities
      across history. With the paid version, gain access to even more premium content, delving deeper into the minds of
      visionaries, philosophers, and leaders. Sign up now and elevate your daily inspiration to new heights!</p>
    <button>Get Free Trial</button>
  </div>
  <div class="col-2">
    <img src="../../assets/images/static2.png">
  </div>
</div>
