<app-header></app-header>
<div class="staticpage">
  <div class="col-1">
    <h1>Discover Wisdom in Every Word</h1>
    <p>Discover wisdom, inspiration, and motivation from the words of the greats. With InspireMe, you'll unlock a
      treasure trove of insightful quotes from renowned figures across history. Whether you're seeking guidance,
      encouragement, or simply a moment of reflection, our curated collection of quotes will uplift your spirits and
      ignite your imagination.</p>
    <button>Download App</button>
  </div>
  <div class="col-2">
    <img src="../../assets/images/static1.png">
  </div>
</div>
